<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{thing}}</title>
    <link rel="stylesheet" type="text/css" href="/public/site.css">
</head>
<body>
    {{#if thing2}}
        <h1>{{thing2}}</h1>
    {{/if}}
    <main>
        <p>{{para}}</p>
        {{{body}}}
    </main>
</body>
</html>