<form action="home" method="POST" class="new-search-form">
    <label for="number">
        Enter a number
        <input id="number" type="number" name="number" placeholder="Enter a number" class="full-width-input"/>
    </label>
    <button type="submit">Submit</button>
</form>