<form id="login-form" method="POST" action="/home">
    <label for="username">
        Username:
        <input id="username" type="text" name="username" value="{{term}}"/>
    </label>
    <label for="password">
        Password:
        <input id="password" type="text" name="password"/>
    </label>
    <button type="submit">login</button>
</form>